body {
  background-color: grey;
}

.calc {
  width: 350px;
  height: 600px;
  padding: 15px;
  border-radius: 44px;
  margin: 10% auto;
  background-color: #333;
  color: #fff;
  display: grid;
}

.calc__screen {
  height: 120px;
  padding: 20px;
  display: grid;
  justify-items: end;
  align-items: end;
  user-select: none;
}

.calc__screen__text {
  font-size: 50px;
}

.calc__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.btn {
  background-color: #000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  justify-self: center;
  font-size: 25px;
  user-select: none;
}

.btn:active {
  opacity: 0.5;
}



.btn.clear {
  width: 100px;
  grid-column: 1 / 4;
  border-radius: 20px;

}

.btn.division {
  grid-column: 4/5;
}

.btn.zero {
  grid-column: 1 / 3;
  width: 150px;
  border-radius: 35px
}

.btn.bg-orange {
  background-color: #ff9501;
}